.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informationTable {
    margin-top: 30px;
    border-collapse: collapse;
  }
  .tableCell > th {
    border: 2px solid gray;
    background-color: #1890FF;
    margin: 0;
    color: white;
    padding: 5px 10px;
    width: max-content;
    min-width: 150px;
  }
  .tableCell > td {
    border: 2px solid gray;
    margin: 0;
    padding: 5px 10px;
    width: max-content;
    min-width: 150px;
  }
  .table-link:hover {
    background-color: lightgray;
  }
  